<header class="main-header" <% if(theme.banner.img){ %> style="background-image:url(<%= url_for(theme.banner.img) %>)" <%}%> >
    <div class="main-header-box">
        <!-- <a class="header-avatar" href="/" title='<%= config.author %>'>
            <%- image_tag('img/avatar.jpg',{alt:'Logo avatar',class:'img-responsive center-block'}) %>
        </a> -->
        <% if(theme.branding){ %>
          <div class="branding">
        	<!--<h2 class="text-hide">Snippet theme, never been so simple and fun</h2>-->
            <h2> <%= theme.branding %> </h2>
         </div>
      <% } %>
    </div>
</header>
